.mainContent__block {
  position: relative; padding: 100px 0 0 0;

  .block__title {
    width: 100%; height: 60px; margin: 0 0 15px 0; text-align: center; font-size: 50px; line-height: 45px; font-weight: 300; color: #211E1E;

    &:before {
      content: "";
      width: 2px; height: 50px; margin: 0 0 0 -2px;
      background: #FFB303;

      position: absolute; left: 50%; top: 0;
      display: block;
    }
  }
  h3.block__title {font-size: 36px;}

  &.block__works {width: 100%; min-height: 250px; padding: 100px 0 0 0;}

  &.block__constructor {
    padding: 100px 0 65px 0;
    width: 100%; min-height: 600px;
    background-image: url(../images/constructor_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    .block__title {color: white;}
  }

  &.block__content {
    width: 100%; padding: 100px 0 80px 0;

    &.grey {background: #f7f7f7;}

    .flux_box {
      width: 370px; height: 235px; float: left;
      padding: 25px 30px 0 30px; margin: 0 30px 0 0;
      border-top: 5px solid #006148;
      color: #202020; text-align: center;
      background: #f8f8f8;


      &:nth-child(3) {margin: 0;}
      &:hover {background: #006148; border-top: 5px solid #ffba00; color: white; cursor: pointer;}

      > p {height: 80px; font-size: 14px; line-height: 24px;}
      > span {
        width: 250px; text-align: left; margin: 10px 0 0 0;
        font-size: 16px; line-height: 30px;
        display: inline-block;

        i {
          width: 30px; height: 30px; margin: 0 15px 0 0;
          border: 1px solid #006148;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;
          text-align: center; line-height: 28px;
          font-size: 16px; font-weight: 300;
          color: #006148;
          display: inline-block;
        }
      }

      &:hover > span i {color: white; border-color: white;}
    }
  }

  &.block__clients {
    width: 100%; padding: 100px 0 85px 0;
    text-align: center;

    .block__more-link {
      height: 25px;
      display: inline-block;

      &:hover {text-decoration: none; cursor: pointer;}
      > .fa {
        width: 26px; height: 25px; float: left; margin: 0 10px 0 0;
        border: 1px solid #FFB303;
        border-radius: 25px; -webkit-border-radius: 25px;
        -moz-border-radius: 25px; -o-border-radius: 25px;

        text-align: center; line-height: 26px;
        color: #FFB303; font-size: 18px;
      }
      > span {height: 25px; border-bottom: 1px dotted #211E1E; font-size: 18px; font-weight: 300; line-height: 25px; color: #211E1E; display: inline-block;}
      &:hover > span,
      &:focus > span,
      &:active > span {border-bottom: 1px solid transparent; color: #FFB303;}
    }

    .block__clients__items {
      width: 1170px; margin: 25px 0 50px 0; text-align: center;

      .item {
        width: 180px; height: 100px;
        display: inline-block;

        a {
          width: 180px; height: 100px;
          font-size: 18px; font-weight: 300; color: #211E1E;
          display: block;

          &:hover, &:focus, &:active {text-decoration: none; cursor: pointer;}
        }
        img {width: 180px; height: 100px;}
      }
    }
  }

  &.block__solutions {
    background: #F7F7F7;

    .flux_box {
      width: 200px; height: 385px; float: left; margin: 0 30px 0 0;
      text-align: center;
      display: inline-block;

      &:last-child {margin: 0;}

      img {width: 200px; height: 150px; margin: 0 0 10px 0;}
      h4 {font-size: 22px;}
    }
  }

  &.block__production {
    .flux_box {
      width: 340px; height: 235px; float: left; margin: 0 30px 30px 0;
      text-align: center;
      display: inline-block;

      a {width: 100%; height: 100%; display: block;}

      &:last-child {margin: 0;}
      &:nth-child(3n+1) {margin: 0 30px 30px 45px;}
    }
  }

  &.block__contacts {
    background: #F7F7F7; padding: 100px 0 60px 0;

    &.white {background: transparent;}

    .block__contacts__aside__l {
      width: 585px; float: left;

      .tick-list {
        margin: 0 0 20px 0; padding: 0 15px 0 35px;
        font-size: 14px; font-weight: 300;
        position: relative;

        > span {
          width: 20px; height: 20px; margin: 0 15px 0 0;
          color: white; text-align: center;
          line-height: 20px;
          border-radius: 20px; -webkit-border-radius: 20px;
          -moz-border-radius: 20px; -o-border-radius: 20px;
          background: #006148;
          position: absolute; left: 0; top: 0;
          display: inline-block;
        }
      }
    }

    .block__contacts__aside__r {
      width: 585px; float: right;

      .button {margin: 0;}
    }

    .flux_box {width: 560px; margin: 0 auto; .button {margin: 0 auto; display: block;}}

    .block__contacts__field {
      width: 275px; margin: 0 0 15px 0;
      display: inline-block;

      &.long {width: 100%;}

      > span {margin: 0 0 5px 0; font-size: 13px; display: block;}
      > input {
        width: 260px; height: 37px; padding: 0 6px;
        border: 1px solid #c7c7c7;
        border-radius: 3px; -webkit-border-radius: 3px;
        -moz-border-radius: 3px; -o-border-radius: 3px;
        color: #656565; font-size: 16px;
        font-weight: 300;
      }
      > textarea {
        width: 540px; height: 75px; padding: 5px 6px;
        border: 1px solid #c7c7c7;
        border-radius: 3px; -webkit-border-radius: 3px;
        -moz-border-radius: 3px; -o-border-radius: 3px;
        color: #656565; font-size: 16px;
        font-weight: 300;
        resize: none;
      }
    }
  }

  &.block__partners__become {
    padding: 100px 0;

    .become__partner__steps {

      .become__partner__steps__item {
        width: 270px; height: 280px; float: left; margin: 0 0 0 30px;
        position: relative;

        &:after {
          content: "";
          width: 60px; height: 45px;
          background: #FFBB27;
          position: absolute;
          right: -40px; top: 70px;
          background: url(../images/icons_png/arrow_right_orange.png) center center no-repeat;
          display: block;
        }

        &:first-child {margin: 0;}
        &:nth-last-child(2):after {display: none;}


        .item__step {
          width: 180px; height: 180px;
          margin: 0 auto;
          border: 1px solid #eaeaea;
          -webkit-border-radius: 180px;
          -moz-border-radius: 180px;
          border-radius: 180px;
          position: relative;
          display: block;

          .item__icon {
            width: 178px; height: 178px;
            text-align: center; line-height: 158px;
            border: 10px solid white;
            -webkit-border-radius: 178px;
            -moz-border-radius: 178px;
            border-radius: 178px;
            background: #FFBB27;
            position: absolute; z-index: 2;
            display: block;


            img {display: inline-block;}
          }

          .item__step__title {
            width: 75px; height: 75px;
            border: 1px solid #eaeaea;
            -webkit-border-radius: 75px;
            -moz-border-radius: 75px;
            border-radius: 75px;
            text-align: center; line-height: 15px;
            font-weight: 500; font-size: 12px;
            position: absolute;
            left: 50%; top: 150px; margin: 0 0 0 -35px;
            background: white;
            display: block;

            span {margin: 30px 0 0 0; font-size: 24px; display: block;}
          }
        }

        .text {margin: 65px 0 0 0;}
      }
    }
  }

  &.block__partners__requires {
    background: #F8F8F8; padding: 100px 0 60px 0;

    .flux_box {
      width: 385px; height: 180px; float: left;
      display: block;

      .require_step {
        padding: 0 30px 0 55px; left: -10px;
        font-size: 14px; font-weight: 600;
        line-height: 24px;
        position: relative;

        span {
          width: 35px; height: 35px;
          -webkit-border-radius: 35px;
          -moz-border-radius: 35px;
          border-radius: 35px;
          text-align: center; line-height: 35px;
          font-size: 24px; color: white;
          position: absolute; left: 0; top: 5px;
          background: #006148;
          display: block;
        }
      }

      .requires__list {
        width: 370px; height: 170px; padding: 0 30px 0 0; float: left;

        p {
          margin: 0 0 10px 0;
          font-size: 14px; line-height: 22px; font-weight: 300;
          position: relative;

          &:before {
            content: "";
            width: 6px; height: 6px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            background: #FFB303;
            position: absolute;
            left: -15px; top: 8px;
          }
        }
      }
    }
  }

  &.block__location {
    .yandexMapLocation {width: 100%; height: 600px;}
  }

  &.block__partners__get {
    background: #F8F8F8;

    .advantages__block__items {
      .flux_box {
        width: 235px; height: 300px; float: left;
        margin: 0 75px 0 0;
        &:nth-child(4n+4) {margin: 0;}

        .advantages__block__item {
          margin: 0 auto;
          position: relative;

          a {width: 100%; height: 100%; display: block;}
          p {width: 235px; margin: 25px 0 0 -35px; font-size: 16px; font-weight: 600;}
        }
      }
    }
  }

  &.block__development__dynamics {
    padding: 100px 0;

    .block__dynamic__development__aside__l {float: left;}
    .block__dynamic__development__aside__r {float: right;}

    .aside {
      width: 585px;

      img {width: 170px; height: 170px; margin: 0 45px 0 0; float: left;}

      .dynamics__list {
        width: 370px; height: 170px; padding: 0 30px 0 0; float: left;

        p {
          margin: 0 0 20px 0;
          font-size: 14px; line-height: 22px; font-weight: 300;
          position: relative;

          &:before {
            content: "";
            width: 6px; height: 6px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            background: #FFB303;
            position: absolute;
            left: -15px; top: 8px;
          }
        }
      }
    }
  }

  &.block__experts__feature {
    background: #F8F8F8; padding: 100px 0;

    .block__experts__feature__aside__l {float: left;}
    .block__experts__feature__aside__r {float: right;}

    .aside {
      width: 585px;

      img {width: 170px; height: 170px; margin: 0 45px 0 0; float: left;}

      .features__list {
        width: 370px; height: 170px; padding: 0 30px 0 0; float: left;

        p {
          margin: 0 0 20px 0;
          font-size: 14px; line-height: 22px; font-weight: 300;
          position: relative;

          &:before {
            content: "";
            width: 6px; height: 6px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            background: #006148;
            position: absolute;
            left: -15px; top: 8px;
          }
        }
      }
    }
  }
}

.advantages__block__rounded {
  width: 1170px; height: 930px; margin: 25px 0 0 0;
  position: relative;

  .advantages__block_centred {
    width: 285px; height: 285px; margin: -190px 0 0 -140px; padding: 5% 0 0 0;
    background: url(../images/advantages_inner.png) center center no-repeat;
    position: absolute; left: 50%; top: 50%;
    display: block;

    &:after {
      content: "";
      width: 285px; height: 20px;
      background: white;
      position: absolute;
      top: 50%; left: 0; margin: -10px 0 0 0;
    }

    > span {
      width: 240px;
      font-size: 40px; line-height: 40px;
      color: #006148; font-weight: 700;
      text-align: center;
      position: absolute;
      left: 50%; margin: 25px 0 0 -120px;
      z-index: 1;
      display: block;

      span {font-size: 13px; color: #606060; display: block;}
    }
  }
}

.advantages__block__items {
  .advantages__block__item {
    width: 180px; height: 180px;
    padding: 10px;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 180px;
    background: white;
    position: relative;

    > a {width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: block;}
    > p {margin: 25px 0 0 0; font-size: 20px; font-weight: 400; text-align: center; display: block;}
    > .item__icon {
      width: 160px; height: 160px;
      -webkit-border-radius: 160px;
      -moz-border-radius: 160px;
      border-radius: 160px;
      background: #006148;
      display: block;

      &.icon_warehouse {background: #006148 url(../images/icons_png/service_warehouse.png) center center no-repeat;}
      &.icon_production {background: #006148 url(../images/icons_png/service_production.png) center center no-repeat;}
      &.icon_trade {background: #006148 url(../images/icons_png/service_trades.png) center center no-repeat;}
      &.icon_office {background: #006148 url(../images/icons_png/service_office.png) center center no-repeat;}
      &.icon_park {background: #FFBB27 url(../images/icons_png/service_park.png) center center no-repeat;}
      &.icon_utilities {background: #FFBB27 url(../images/icons_png/service_utilities.png) center center no-repeat;}
      &.icon_projects {background: #FFBB27 url(../images/icons_png/service_projects.png) center center no-repeat;}

      &.icon_15years {background: #006148 url(../images/icons_png/icon_15years.png) center center no-repeat;}
      &.icon_fulltime {background: #006148 url(../images/icons_png/icon_fulltime.png) center center no-repeat;}
      &.icon_light {background: #006148 url(../images/icons_png/icon_light.png) center center no-repeat;}
      &.icon_moneyrevert {background: #006148 url(../images/icons_png/icon_moneyrevert.png) center center no-repeat;}
      &.icon_payments {background: #006148 url(../images/icons_png/icon_payments.png) center center no-repeat;}
      &.icon_pig {background: #006148 url(../images/icons_png/icon_pig.png) center center no-repeat;}
      &.icon_speed {background: #006148 url(../images/icons_png/icon_speed.png) center center no-repeat;}
      &.icon_unlim {background: #006148 url(../images/icons_png/icon_unlim.png) center center no-repeat;}
    }

    &.scheme {position: absolute; z-index: 1;}

    &.line_1 {top: 0;}
    &.line_2 {top: 220px;}
    &.line_3 {top: 500px;}
    &.line_4 {top: 670px;}

    &.item_1 {left: 335px;}
    &.item_2 {right: 335px;}
    &.item_3 {left: 155px;}
    &.item_4 {right: 155px;}
    &.item_5 {left: 210px;}
    &.item_6 {right: 210px;}
    &.item_7 {left: 50%; margin: 0 0 0 -90px;}
  }
}

.clients__list {
  text-align: center;

  .clients__list__item {
    width: 170px; height: 170px; float: left; margin: 0 25px 5px 0;
    background: #F1F1F1;
    position: relative;
    display: inline-block;

    &:before, &:after {
      content: "";
      width: 0; height: 0;
      position: absolute; top: 0;
      display: block;
    }

    &:before {
      border-top: 170px solid #F1F1F1;
      border-left: 20px solid transparent;
      left: -20px;
    }

    &:after {
      border-top: 170px solid #F1F1F1;
      border-right: 20px solid transparent;
      right: -20px;
    }

    &:nth-child(even) {
      &:before {
        border-top: 0;
        border-bottom: 170px solid #F1F1F1;
        border-left: 20px solid transparent;
        left: -20px;
      }

      &:after {
        border-top: 0;
        border-bottom: 170px solid #F1F1F1;
        border-right: 20px solid transparent;
        right: -20px;
      }
    }

    &:nth-child(1):before {border: 0; border-left: 20px solid #F1F1F1;}
    &:nth-child(6n+6):after {border: 0; border-right: 20px solid #F1F1F1;}
    &:nth-child(6n+7):before {border: 0; border-left: 20px solid #F1F1F1;}

    a {width: 170px; height: 170px; display: block;}
    img {width: 170px; height: 170px; display: block;}
  }
}

.production__container {
  position: relative;
  .production__block__light {
    width: 100px; height: 100px;
    text-align: center; line-height: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    box-shadow: 0 0 65px rgba(0,0,0, .015);
    display: inline-block;
    position: absolute;
    left: 50%; top: 50%;

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);

    span {
      width: 60%; height: 60%; background: white; display: inline-block;

      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;

      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -o-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);

      position: relative; top: 22%;
    }
  }
  .production__item__line {
    text-align: center;

    .production__block__item {
      width: 100px; height: 100px; float: left;
      border: 1px solid #999999;
      background: #aaaaaa;
      box-shadow: inset 0 0 65px rgba(0,0,0, .15);
    }
  }
}

.parameter_filter {
  width: 460px; padding: 20px;
  background: #F5F5F5; border-bottom: 1px solid #e2e2e2;
  margin: 0 0 1px 0;

  header {
    min-height: 20px; margin: 0 0 10px 0;
    font-size: 14px; text-transform: uppercase; color: #606368;

    small {margin: -5px 0 0 0; font-size: 65%; color: #7f8287; display: block;}

    &.title {small {color: #606368;}}
  }

  > .row {
    .pLine {margin: -6px 0 11px 0; display: block; input {margin: 0; display: inline-block;}}
    .col-md-3:nth-child(1) {padding: 0 15px 0 0;}
  }

  &:nth-child(1) {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
  }
  &:nth-child(7) {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }
}

.calc_products__item {
  width: 100px; height: 150px; margin: 0 10px 0 0;
  text-align: center; float: left;

  figure {width: 100px; height: 100px; margin: 0 0 5px 0; img {width: 100px; height: 100px;}}

  &.active {figure {border: 2px solid #FFB303; img {width: 96px; height: 96px;}}}

  &:hover {
    cursor: pointer;
    figure {border: 2px solid #FFB303; img {width: 96px; height: 96px;}}
  }
}

.mapLocationBlocker {width: 100%; height: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1; cursor: pointer; background: rgba(255,255,255, .175);}

.advantages__block {
  width: 100%; height: 1020px;
  background: white url(../images/advantages.block.jpg) center center no-repeat;
  position: relative;

  .advantage__item {
    width: 250px; height: 250px;
    position: absolute;
    display: table-column;

    .ad_title {width: 250px; height: 250px; text-align: center; vertical-align: middle; font-size: 16px; display: table-cell;}
    .ad_icon {width: 50px; height: 50px; display: block; position: absolute; text-align: center; img {width: 40px; height: 40px; position: relative; top: 5px;}}

    &.ad_1 {top: 70px; left: 590px; .ad_icon {left: 55px; top: 215px;}}
    &.ad_2 {top: 255px; left: 775px; .ad_icon {left: -14px; top: 148px;}}
    &.ad_3 {top: 515px; left: 775px; .ad_icon {left: -15px; top: 55px;}}
    &.ad_4 {top: 700px; left: 590px; .ad_icon {left: 55px; top: -13px;}}
    &.ad_5 {top: 700px; left: 330px; .ad_icon {left: 145px; top: -14px;}}
    &.ad_6 {top: 515px; left: 145px; .ad_icon {left: 215px; top: 55px;}}
    &.ad_7 {top: 255px; left: 145px; .ad_icon {left: 214px; top: 148px;}}
    &.ad_8 {top: 70px; left: 330px; .ad_icon {left: 145px; top: 215px;}}
  }
}