.blog__container {
  .main__title {
    width: 100%; height: 160px; margin: 0 0 15px 0;
    text-align: left; font-size: 46px; line-height: 45px; font-weight: 300; color: #211E1E;

    span {
      padding: 100px 0 0 0;
      position: relative;
      display: inline-block;

      &:before {
        content: "";
        width: 2px; height: 50px; margin: 0 0 0 -2px;
        background: #FFB303;

        position: absolute; left: 50%; top: 0;
        display: block;
      }
    }
  }

  .blog__posts {
    width: 800px; float: left;
    padding: 0 0 100px 0;

    .blog__article {
      width: 800px; padding: 0 0 50px 0; margin: 0 0 50px 0;
      border-bottom: 3px dotted #d9d9d9;

      .blog__article__title {font-size: 22px; font-weight: 400; color: #202020;}
      .blog__article__data {margin: 10px 0; font-size: 14px; font-style: italic; font-weight: 300; color: #A9A8A8;}
      .blog__article__counters {
        > span {
          padding: 0 15px 0 0;
          font-size: 14px; color: #A9A8A8; font-weight: 100;
          display: inline-block;

          > i {font-size: 16px; color: #FFB303;}

          &.blog__article__counters__views {}
          &.blog__article__counters__comments {}
        }
      }
      .blog__article__picture {
        width: 800px; height: 350px;
        padding: 25px 0;
        display: block;

        img {width: 800px; height: 300px; border: 0; outline: 0;}
      }
      .text {margin: 0 0 20px 0;}
      .button {margin: 0;}

      .blog__article__tags {

        .tag {
          height: 30px; padding: 0 8px; margin: 0 10px 0 0;
          border-radius: 5px;
          background: #006047;
          font-size: 16px; font-weight: 300; line-height: 30px; color: white;
          display: inline-block;
        }
      }
    }

    .pagination {width: 100%; text-align: center; .button {display: inline-block;}}
  }

  .blog__sidebars {
    width: 370px; padding: 0 0 0 100px; float: right;

    .blog__sidebars__block {
      width: 270px; margin: 0 0 45px 0;

      .block__title {
        margin: 0 0 35px 0;
        font-size: 28px; line-height: 25px;
        position: relative;

        &:after {
          content: "";
          width: 50px; height: 2px;
          background: #FEB913;
          position: absolute; left: 0; bottom: -15px;
        }
      }
      .block__content {

        .archive_list {
          margin: 0 0 20px 0;

          > li {
            padding: 0 0 0 15px;
            font-size: 18px; font-weight: 600; position: relative;

            &:before {
              content: "";
              width: 5px; height: 5px;
              border-radius: 50%;
              background: #FFB303;
              left: 0; top: 7px;
              position: absolute;
            }
          }
          .archive__list__month {
            margin: 10px 0 0 0;
            &:before {display: none;}
            li {font-size: 14px; font-weight: 300;}
          }
        }

        .trending_topics {
          li {
            height: 30px; padding: 0 8px; margin: 0 10px 0 0; float: left;
            border-radius: 5px;
            background: #006047;
            font-size: 16px; font-weight: 300; line-height: 30px; color: white;
            display: inline-block;

            > a {color: white; text-decoration: none;}
          }
        }
      }
    }
  }
}