.button {
  height: 30px; padding: 0 20px; margin: 0 5px;
  border: 0;
  border-bottom: 3px solid rgba(0,0,0, .35);

  border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;

  box-shadow: inset 0 -1px 0 rgba(255,255,255, .2);

  text-shadow: 0 2px 4px rgba(0,0,0, .25); color: white;
  text-transform: uppercase;

  font-size: 12px; line-height: 27px;

  display: inline-block;

  &.btn-big {height: 50px; font-size: 14px; line-height: 47px;}

  &.btn-green {
    background: #039c73;
    background: -moz-linear-gradient(top,  #039c73 0%, #0a9864 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#039c73), color-stop(100%,#0a9864));
    background: -webkit-linear-gradient(top,  #039c73 0%,#0a9864 100%);
    background: -o-linear-gradient(top,  #039c73 0%,#0a9864 100%);
    background: -ms-linear-gradient(top,  #039c73 0%,#0a9864 100%);
    background: linear-gradient(to bottom,  #039c73 0%,#0a9864 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#039c73', endColorstr='#0a9864',GradientType=0 );
  }
  &.btn-yellow {
    background: #ffc003;
    background: -moz-linear-gradient(top,  #ffc003 0%, #ff9803 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc003), color-stop(100%,#ff9803));
    background: -webkit-linear-gradient(top,  #ffc003 0%,#ff9803 100%);
    background: -o-linear-gradient(top,  #ffc003 0%,#ff9803 100%);
    background: -ms-linear-gradient(top,  #ffc003 0%,#ff9803 100%);
    background: linear-gradient(to bottom,  #ffc003 0%,#ff9803 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc003', endColorstr='#ff9803',GradientType=0 );
  }

  &:hover {
    text-decoration: none; cursor: pointer;
    text-shadow: 0 1px 3px rgba(0,0,0, .25); color: white;
    box-shadow: inset 0 -1px 0 rgba(255,255,255, .2), inset 0 0 4px rgba(255,255,255, .25);

    &.btn-green {background: #039c73;}
    &.btn-yellow {background: #ffc003;}
  }

  &:active, &:focus {color: white;}
}

.pagination {
  .button {width: 37px; height: 37px; text-align: center; line-height: 34px; padding: 0; box-shadow: inset 0 0 6px rgba(255,255,255, .15);}
}