.catalog {
  .catalog__block {
    width: 270px; float: left;

    .catalog__categories {
      width: 270px; margin: 30px 0 0 0;

      > li {
        width: 270px; height: 50px; padding: 0 0 0 0;
        border-bottom: 1px solid #D9D9D9;
        line-height: 50px; font-size: 14px;
        color: #403D3E;
        position: relative;

        > a {
          height: 50px; color: #403D3E; text-decoration: none;
          display: block;
        }

        span {width: 50px; height: 50px; float: left; text-align: center; line-height: 50px; font-size: 18px;}

        &:hover {background: rgba(0,0,0, .035); cursor: pointer;}
        &.current {
          margin: 1px 0 0 0;
          border: 0; background: #FFBB27;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          cursor: default;
          color: white;
        }
      }

      > ul {
        margin: 20px 0 0 0; position: relative;

        li {
          line-height: 25px; padding: 0 0 0 50px;
          position: relative;
          font-size: 14px; font-weight: 300;

          &:before {
            content: "";
            width: 6px; height: 6px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            background: #FFB303;
            position: absolute; left: 25px; top: 8px;
          }
        }
      }
    }

    .catalog__filter {
      width: 270px; padding: 10px 25px 25px 25px; margin: 30px 0 0 0;
      background: #F8F8F8;

      hr {height: 1px; border: 0; background: #D9D9D9; clear: both;}

      .catalog__filter__param {

        .catalog__filter__param__title {font-size: 16px; font-weight: 300; color: #747273; margin: 0 0 5px 0;}
        .selectbox {
          width: 220px; height: 35px;
          border: 1px solid #C0C0C0;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;

          background: white;
        }
      }
    }
  }
  .catalog__content {width: 870px; float: right;}

  .products {
    .products__item {
      width: 270px; padding: 10px; margin: 30px 0 0 30px; float: left;
      background: #F8F8F8;

      &:nth-child(3n+1) {margin: 30px 0 0 0;}

      > figure {width: 250px; height: 250px; img {width: 250px; height: 250px;}}
      .products__item__title {min-height: 40px; height: 40px; max-height: 40px; overflow: hidden; margin: 15px 0 0 0; font-size: 18px; font-weight: 400; text-align: center;}
      .products__item__data {
        margin: 5px 0 0 0;
        text-align: center; line-height: 30px;

        > span {
          margin: 0 10px;
          font-style: italic; color: #A4A4A4;
          font-size: 14px; font-weight: 300;

          i {font-size: 18px; color: #000000;}
        }
      }
      > hr {height: 1px; margin: 20px; border: 0; background: #D9D9D9; clear: both;}
      .products__item__actions {
        height: 35px; padding: 0 15px;

        .products__item__price {height: 35px; line-height: 35px; font-size: 24px; color: #FFB303; display: inline-block;}
        .products__item__buy {height: 35px; margin: 0; line-height: 35px;}
      }
    }
  }
}