.comments__wrapper {
  .comments__num__title {margin: 0 0 40px 0; font-size: 28px; font-weight: 300;}

  .comments__inner__form {
    padding: 30px 0 20px 150px;
    background: #F7F7F7;
    position: relative;

    .avatar {width: 95px; height: 95px; border-radius: 50%; position: absolute; left: 30px; top: 30px;}
    .comment-reply-title {margin: 0 0 30px 0; font-size: 22px;}


    textarea {
      width: 550px; height: 85px; margin: 0 0 30px 0; padding: 10px;
      border: 1px solid #DCDCDC;
      font-size: 14px; color: #606060;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      resize: none;
    }

    input[type=text] {
      width: 260px; height: 50px; margin: 0 0 30px 0; padding: 10px;
      border: 1px solid #DCDCDC;
      font-size: 14px; color: #606060; line-height: 30px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      &:nth-child(1) {margin: 0 30px 30px 0;}
    }

    .form-submit .button {margin: 0;}
  }

  .comments__item {

    .comment {
      padding: 40px 0;
      border-bottom: 3px dotted #D9D9D9;
      position: relative;

      .comment-author.vcard {
        width: 125px; position: relative; float: left;
        display: none;

        img {width: 95px; height: 95px; border-radius: 50%;}
      }
      .comment-text {
        .comment-author {font-size: 14px; margin: 0 0 15px 0;}
        > p {font-size: 14px; color: #202020; font-weight: 300;}
      }

      .comment-meta {
        font-size: 14px; font-style: italic; color: #B0AFAF; float: left;
        a {color: #B0AFAF; font-weight: 300;}
      }
      .comment-reply {
        font-size: 14px; color: #006149; position: relative; float: right;

        a {color: #006149; font-weight: 300;}

        &:after {
          content: "";
          width: 50px; height: 2px;
          background: #FFB303;
          position: absolute; right: 0;
          bottom: -5px;
        }
      }

      &.byuser {
        .comment-author.vcard {display: block;}
        .comment-text {padding: 0 0 0 125px;}
      }

      &.depth-2 {
        padding: 40px 0 0 125px; margin: 40px 0 0 0;
        border: none;
        border-top: 3px dotted #D9D9D9;

        &:before {
          content: "";
          width: 65px; height: 65px;
          background: url(../images/subcomment.png) center center no-repeat;
          position: absolute; left: 30px; top: 30px;
        }
      }
    }
  }
}