.download-form {
	display: block;
	height: 35px; width: 90%;
	line-height: 35px;
    padding: 0 8px;
    margin: 10px 0;
}
.mainFooter .footer__block__contacts .footer__socials li.icon .fa-mailchimp{
	height: 30px;
    margin: 5px;
}
.footer__block__contacts a{
	color: #fff;
	text-decoration: none;
}
.footer__block__contacts a:hover{
	color :#fff;
	text-decoration: underline;
}