.news__container {
  .main__title {
    width: 100%; height: 160px; margin: 0 0 15px 0;
    text-align: left; font-size: 46px; line-height: 45px; font-weight: 300; color: #211E1E;

    span {
      padding: 100px 0 0 0;
      position: relative;
      display: inline-block;

      &:before {
        content: "";
        width: 2px; height: 50px; margin: 0 0 0 -2px;
        background: #FFB303;

        position: absolute; left: 50%; top: 0;
        display: block;
      }
    }
  }

  .news__posts {
    width: 800px; float: left;
    padding: 0 0 100px 0;

    .news__article {
      width: 385px; height: 500px; margin: 0 0 30px 0; float: left;
      background: #F8F8F8;

      &:nth-child(odd) {margin: 0 30px 30px 0;}

      .news__article__content {padding: 30px;}
      .news__article__picture {
        width: 385px; height: 275px; margin: 0 0 10px 0;
        display: block;

        a {
          width: 385px; height: 275px;
          display: block;

          img {width: 385px; height: 275px;}
        }
      }
      .news__article__title {font-size: 22px; font-weight: 400; margin: 0 0 15px 0;}
      .text {height: 75px; line-height: 25px; overflow: hidden; margin: 0 0 25px 0;}
      .news__article__data {float: left; height: 30px; font-size: 14px; font-weight: 300; font-style: italic; color: #A9A8A8;}
      .news__article__counters {
        float: right; height: 30px;

        > span {
          padding: 0 15px 0 0;
          font-size: 14px; color: #A9A8A8; font-weight: 100;
          display: inline-block;

          > i {font-size: 16px; color: #FFB303;}

          &.news__article__counters__views {}
          &.news__article__counters__comments {padding: 0;}
        }
      }
    }

    .pagination {width: 100%; text-align: center; .button {display: inline-block;}}
  }

  .blog__sidebars {
    width: 370px; padding: 0 0 0 100px; float: right;

    .blog__sidebars__block {
      width: 270px; margin: 0 0 45px 0;

      .block__title {
        margin: 0 0 35px 0;
        font-size: 28px; line-height: 25px;
        position: relative;

        &:after {
          content: "";
          width: 50px; height: 2px;
          background: #FEB913;
          position: absolute; left: 0; bottom: -15px;
        }
      }
      .block__content {

        .archive_list {
          margin: 0 0 20px 0;

          > li {
            padding: 0 0 0 15px;
            font-size: 18px; font-weight: 600; position: relative;

            &:before {
              content: "";
              width: 5px; height: 5px;
              border-radius: 50%;
              background: #FFB303;
              left: 0; top: 7px;
              position: absolute;
            }
          }
          .archive__list__month {
            margin: 10px 0 0 0;
            &:before {display: none;}
            li {font-size: 14px; font-weight: 300;}
          }
        }

        .trending_topics {
          li {
            height: 30px; padding: 0 8px; margin: 0 10px 0 0; float: left;
            border-radius: 5px;
            background: #006047;
            font-size: 16px; font-weight: 300; line-height: 30px; color: white;
            display: inline-block;

            > a {color: white; text-decoration: none;}
          }
        }
      }
    }
  }
}