.projects {
  .project__filter__categories {
    width: 270px; float: left;

    .project__filter__categories__list {
      width: 270px;

      li {
        width: 270px; height: 50px; padding: 0 0 0 30px;
        border-bottom: 1px solid #D9D9D9;
        line-height: 50px; font-size: 14px;
        color: #403D3E;
        position: relative;

        &:before {
          content: "";
          width: 6px; height: 6px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          background: #FFB303;
          position: absolute; left: 12px; top: 22px;
        }

        &:hover {background: rgba(0,0,0, .035); cursor: pointer;}
        &.active {
          border: 0; background: #FFBB27;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          cursor: default;
          color: white;

          &:before {background: white;}
        }
      }
    }
  }

  .project__items {
    width: 900px; float: right;

    .project__article {
      width: 270px; height: 300px; float: left;
      margin: 0 0 0 30px;

      //&:nth-child(3n+3) {margin: 0;}

      a {
        text-decoration: none; text-align: center;
        display: block;

        img {width: 270px; height: 190px; margin: 0 0 30px 0;}
        p {width: 270px; max-height: 44px; overflow: hidden; font-size: 22px; color: #202020; display: block;}
        span {font-size: 14px; color: #9F9D9E; font-weight: 300; display: block;}
      }
    }
  }
}