/***********CAREER***************/
.mainContent__block.block__contacts:nth-child(2n-1){
   background:#fff;
}
.mainContent__block .block__title{
    margin: 0;
    height: 50px;
}
.mainContent__block.block__contacts .block__contacts__aside__r .tick-list > span{
    width: 20px;
    height: 20px;
    margin: 0 15px 0 0;
    color: white;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    background: #006148;
    position: absolute;
    display: inline-block;
}
.mainContent__block.block__contacts .block__contacts__aside__r .tick-list{
    margin: 0 0 20px 0;
    padding: 0 15px 0 0;
    font-size: 14px;
    font-weight: 300;
    position: relative;
}
.mainContent__block.block__contacts .block__contacts__aside__r .tick-list b{
    font-weight: 300;
    display: block;
    margin: 0 0 0 35px;
    }
.mainContent__block.block__contacts .block__contacts__aside__l .tick-list > span{
    background:#ffc003;
}
.mainContent__block.block__contacts h4{
    color:#ffc003;
    margin-top: 0;
}

/***********CERTIFICATES***************/
.conteiner-ceft{
	display:flex;
	justify-content:center;
	align-items:center;
}
.contener-advant div {
display:inline-block;
}
.conteiner-ceft-element{
margin:10px;
padding: 5px;
border: 15px solid #eee;
background-color: #eee;
}
.conteiner-ceft img{
border: 5px solid #fff;
margin-bottom: 15px;
}
/***********ADVANTAGES***************/
.conteiner-advant {
	padding-bottom: 150px;
}
.contener-advant div {
display:inline-block;
}
/***********SIMPLE__PROJECT**********/
#gallery:nth-child(2n){
    background:#F7F7F7;
}
#gallery{
    margin:30px auto;
    width:800px;
}
#largeImage {
    height:535px;
    width:778px;
    margin: 0 0 10px 0;
}
#thumbs img{
    width:100px;
    height:70px;
    margin:0 10px 0 0;
}
