.border-tab__wrapper {
  padding: 0 25px 25px 25px; margin: 100px 0 0 0; border: 3px solid #FFBA00;
  text-align: center;
  background: white;

  .tabs__list {
    height: 50px;
    position: relative; top: -27px;
    display: inline-block;

    .button {
      float: left; padding: 0 20px 0 0;
      margin: 0; border-right: 1px solid #1A694A;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      line-height: 50px;

      &.pp {padding: 0 20px;}

      .fa {width: 40px; height: 47px; float: left; font-size: 22px; line-height: 50px; margin: 0 5px 0 0;}

      &:first-child {
        -webkit-border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-right: 0;

        -webkit-border-top-right-radius: 5px;
        -moz-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  .tabs__content {
    text-align: left;
    .tabs__content__item {display: none; &.active {display: block;}}
  }
}
