html {width: 100%; height: 100%}
body {width: 100%; height: 100%; padding: 80px 0 0 0; font: 400 12px/20px 'Roboto', sans-serif; color: #303030; background: #ffffff;}

@import "buttons";
@import "tabs";
@import "blocks";
@import "typography";
@import "projects";
@import "blog";
@import "news";
@import "catalog";
@import "comments";
@import "errors";

.mainContainer {width: 1170px; margin: 0 auto;}

.setLanguage {
  width: 60px; height: 85px; padding: 60px 0 5px 0;
  background: #F1F1F1 url(../images/langs.png) 5px 5px no-repeat;
  position: absolute; z-index: 101;
  right: 0; top: 82px;

  &:hover {cursor: pointer;}

  > span {
    text-align: center;
    height: 20px; padding: 0 8px;
    font-size: 16px;
    display: block;
  }
  > ul {
    width: 120px; height: 85px; padding: 5px 0 0 0; margin: 0;
    background: #e5e5e5;
    position: absolute;
    left: -120px; top: 0;

    li {
      width: 120px; height: 25px;
      font-size: 14px; line-height: 25px;

      a {height: 25px; padding: 0 0 0 10px; color: #404040; display: block;}
    }
  }
}

.mainHeader {
  width: 100%; height: 82px;
  border-bottom: 2px solid #D8D8D8;
  background: white;
  position: fixed; z-index: 1001; top: 0;

  .logotype {
    width: 200px; height: 80px; float: left;
    text-align: center;
    transform: scale(1.35);

    a {
      width: 200px; height: 80px;
      font-size: 25px; font-weight: 700; color: #336847; line-height: 60px;
      display: block;
      overflow: hidden;

      img {width: 200px; position: relative; top: -100px;}

      &:hover {text-decoration: none; cursor: pointer;}
      span {margin: -12px 0 0 0; color: #7A7B80; font-size: 10px; font-weight: 600; line-height: 12px; display: block;}
    }
  }

  .mainHeader__navigation {
    float: left; margin: 0 0 0 45px;

    > ul {
      height: 80px; margin: 0;

      li {
        height: 80px; padding: 0 17px; float: left;
        line-height: 80px;

        a {
          height: 80px;
          font-size: 16px; line-height: 80px; color: #211E1E;
          position: relative;
          display: block;
          &:hover {text-decoration: none; cursor: pointer;}
        }
        &.current_page_item {font-weight: 700;}
        a:hover:after {
          content: "";
          width: 100%; height: 2px;
          background: #FFB303;
          position: absolute; left: 0; bottom: 24px;
        }
        &.current_page_item a:after {
          content: "";
          width: 100%; height: 2px;
          background: #FFB303;
          position: absolute; left: 0; bottom: 24px;
        }
      }
    }
  }

  .searchToolBar {
    height: 80px; float: right;
    line-height: 80px;
    position: relative;

    > .glyphicon {
      width: 40px; text-align: center;
      font-size: 20px; line-height: 80px;
      display: block;
      &:hover {cursor: pointer;}
    }

    &:hover {.genericSearchBox {display: block;}}

    .genericSearchBox {
      width: 480px; height: 80px;
      background: #ffffff;
      position: absolute;
      top: 0; left: -480px;
      display: none;

      input {
        width: 420px; height: 30px; padding: 0 5px; margin: 25px 0 0 30px;
        border: 1px solid #211E1E;
        font-size: 14px; line-height: 30px;
      }
    }
  }
}

.searchToolBarAside {

  .genericSearchBox {
    width: 270px;
    position: relative;

    input {
      width: 220px; height: 40px;
      padding: 5px; font-size: 14px; color: #202020;
      border: 1px solid #DCDCDC;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }

    .glyphicon {
      width: 45px; height: 40px; float: right;
      text-align: center; line-height: 40px;
      font-size: 14px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: #DCDCDC;
      cursor: pointer;
    }
  }
}

.mainContent_Slider {
  width: 100%; max-width: 1920px; height: 600px; margin: 0 auto;
  overflow: hidden;

  &.slider__pf__wrapper {
    .slider__pf {width: 1030px; height: 580px; margin: 0 auto;}
  }

  .mainContent_Slider_controls {
    position: relative; top: 50%;

    .mainContent_Slider_controls__arrow {
      width: 30px; height: 50px;
      position: absolute; top: -50px; z-index: 101;
      background: url(../images/slider_control_arrows.png) no-repeat;

      &.prev {left: 0; background-position: center left;}
      &.next {right: 0; background-position: center right;}

      &:hover {cursor: pointer;}
    }
  }

  .mainContent_Slider_list {
    width: 100%; height: 600px; margin: 0;
    text-align: center;
    display: block;

    li {
      > img {width: 100%; height: 600px; position: absolute; top: 0; background-size: cover; left: 0; z-index: 1;}
      .mainContainer {
        position: absolute; z-index: 2;
        left: 50%; margin: 0 0 0 -585px;

        h2 {
          margin: 15% 0 0 0;

          &.abstract-title {
            height: 95px;
            font-size: 60px; font-weight: 300; color: #211E1E;
            line-height: 95px;
            text-transform: uppercase;

            > span {width: 325px; height: 95px; text-align: center; color: white; background: url(../images/slider_01_item_green.png) top center no-repeat; display: inline-block;}
          }
        }
        p {margin: 10px 0 50px 0; font-size: 20px; font-weight: 300; line-height: 35px;}
      }
    }
  }
}

.mainFooter {
  width: 100%; height: 360px; padding: 50px 0 0 0;
  background-image: url(../images/footerBackground.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  font-weight: 300;

  .footer__block__logotype {
    width: 250px; height: 310px; margin: 0 35px 0 0;

    a {
      height: 80px;
      font-size: 25px; font-weight: 700; color: white; line-height: 20px;
      display: inline-block;
      overflow: hidden;

      &:hover {text-decoration: none; cursor: pointer;}
      img {width: 250px; position: relative; top: -135px; left: -15px;}
      span {margin: 7px 0 0 0; text-align: center; color: white; font-size: 11px; font-weight: 500; line-height: 12px; display: block;}
    }

    p {margin: 20px 0 0 0; text-align: left; font-size: 14px; font-weight: 300; color: white;}
  }

  [class^="footer__list"]
  {
    height: 310px; padding: 0 0 0 20px; margin: 0 0 0 0;

    &.footer__list__company {width: 200px; > .title {width: 200px;}}
    &.footer__list__service {width: 220px; > .title {width: 220px;}}
    &.footer__list__partners {
      width: 225px;
      > .title {width: 225px; margin: 30px 0 0 -15px}
      .title:first-child {width: 225px; margin: 0 0 10px -15px}
    }
    a {color: white; text-decoration: none; &:hover {text-decoration: underline;}}

    > .title {margin: 0 0 10px -15px; font-size: 18px; font-weight: 600; list-style: none; &hover {text-decoration: none;}}
    li {width: 100%; height: 30px; font-size: 14px; line-height: 30px; color: white; list-style: disc; a {height: 30px; display: inline-block;}}
  }

  .footer__block__contacts {
    width: 195px; height: 310px;
    color: white;

    > span {
      width: 195px; height: 40px; margin: 0 0 20px 0; padding: 0 0 0 50px;
      line-height: 40px; font-size: 18px; font-weight: 500;
      white-space: nowrap;
      position: relative;
      display: block;

      > .fa {
        width: 40px; height: 40px;
        text-align: center; line-height: 40px;
        border: 2px solid white;
        border-radius: 40px; -webkit-border-radius: 40px;
        -moz-border-radius: 40px; -o-border-radius: 40px;
        color: white; font-size: 24px;
        position: absolute; left: 0; top: 0;

        &.fa-envelope {font-size: 18px; line-height: 36px;}
      }
    }

    .footer__socials {
      width: 195px; margin: 0 0 25px 0;

      li {
        width: 195px; height: 40px;

        &.title {font-size: 18px; font-weight: 600; list-style: none;}
        &.icon {
          width: 40px; height: 40px; float: left; margin: 0 5px;
          border-radius: 40px; -webkit-border-radius: 40px;
          -moz-border-radius: 40px; -o-border-radius: 40px;
          background: white;

          .fa {width: 40px; height: 40px; line-height: 40px; text-align: center; display: block;}
          .fa-vk {color: #406CA2; font-size: 20px;}
          .fa-odnoklassniki {color: #F17019; font-size: 20px;}
          .fa-facebook {color: #1F4FA3; font-size: 20px;}
          .fa-twitter {color: #0DA2E3; font-size: 20px;}
        }
        &:nth-child(2) {margin: 0 5px 0 0;}

        a:hover {text-decoration: none;}
      }

    }
  }
}