.download-form {
	display: block;
    padding: 5px 0;
    margin: 10px 0;
}
.mainFooter .footer__block__contacts .footer__socials li.icon .fa-mailchimp{
	height: 30px;
    margin: 5px;
}
.footer__block__contacts a{
	color: #fff;
	text-decoration: none;
}
.footer__block__contacts a:hover{
	color: :#fff;
	text-decoration: underline;
}