/*
    Theme Name: ITW Systems
    Description: ITW Systems schem
*/

/*/ FONTS /*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,900,900italic,500italic,500,300,300italic&subset=latin,cyrillic);

/*/ --- # --- /*/
* {outline: 0;}
*:hover {outline:0;}
*:focus {outline:0;}
*:active {outline:0;}

img {pointer-events: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;}

a {color: #303030;}
a:hover {color: #D22E29; text-decoration: underline;}
a:active {color: #909090; text-decoration: none;}
a:focus {color: #909090; text-decoration: none;}

/*/ --- BOOTSTRAP --- /*/
.container {width: 1200px; padding: 0;}
.popover {color: #404040;}

/*/ --- BLUR - /*/
.blur
{
    -webkit-filter: blur(3px);
    filter: blur(3px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='blur'><feGaussianBlur stdDeviation='3'/></filter></svg>#blur");
}